DATABASE_URL=postgresql://postgres:postgres@localhost:5432/croco_flag
PORT=3000

# Docker Support
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=croco_flag
POSTGRES_PORT=5432
REDIS_PORT=6379
